# Dependencias que no deben subirse
node_modules
dist
build
coverage

# Archivos de entorno
.env
.env.*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuraciones de editores/IDE
.vscode
.idea

# Git y otros SCMs
.git
.gitignore
*.tsbuildinfo

# Logs y errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos temporales
*.swp
*.tmp
*.bak

# Docker y CI/CD
docker-compose.override.yml
