// Variables de color y fuente
$color-black: #000000;
$color-gray: #313131;
$color-lightgray: #555555;
$color-darkgray: #161616;
$color-red: #d40202;
$color-lightred: #db5d5d;
$color-whitered: #f7dbdb;
$color-darkGreen: #1d9773;
$color-green: #00ffb3;
$color-palidGreen: #c4fceb;

$first-font: "Poppins", sans-serif;
