// Variables de color y fuente
$color-black: #000000;
$color-gray: #5a5a5a;
$color-red: #d40202;
$color-red: #db5d5d;
$color-red: #f7dbdb;
$color-darkGreen: #1d9773;
$color-green: #00ffb3;
$color-palidGreen: #c4fceb;

$first-font: "Poppins", sans-serif;
